@font-face {
  font-family: "Trueno";
  src: url('../fonts/TruenoLt.otf') format("opentype");
  font-weight: 400;
 }
 
 @font-face {
  font-family: "Trueno";
  src: url('../fonts/TruenoBd.otf') format("opentype");
  font-weight: 600;
 }

@font-face {
  font-family: "Trueno";
  src: url('../fonts/TruenoUltBlk.otf') format("opentype");
  font-weight: 700;
 }


body {
	font-size: 1rem;
	color: #fff;
	font-family: Trueno, san-serif;
	margin: 0;
}


ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

.header {
	height: 100px;
	background: #623232;
	background: -webkit-linear-gradient(#472424 0px 50px, #623232 50px);  
	background: linear-gradient(#472424 0px 50px, #623232 50px);
	border-bottom: 1px solid #5a3a3a;
	border-bottom: 1px solid #5a3a3a;
	top: 0;
	position: fixed;
	z-index: 999;
	width: 100%;
}

.header__wrapper {
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.user-block {
	font-size: 0.8rem;
	height: 50px;
	box-sizing: border-box;
}

.user-block__list {
	display: flex;
	justify-content: flex-end;
}

.user-block__item {
	min-width: 73px;
	text-align: center;
	box-sizing: border-box;

	&--cart {
		text-align: left;
	}
}

.user-block__link {
	display: block;
	line-height: 50px;
	width: 100%;
}

.user-block__icon {
	margin-top: 5px;
}

.user-block__item--login {
	border-left: 1px solid #5a3a3a;
	border-right: 1px solid #5a3a3a;
}

.main-nav {
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	width: 70vw;
	height: inherit;
	background: rgb(98,50,50);
	transform: translateX(-100vw);
	transition-duration: 0.5s;
}

.main-nav__item {
	padding-left: 30px;
}

.main-nav__link {
	font-size: 1.1rem;
	line-height: 40px;
	display: block;
	width: 100%;
}

.secondary-nav {
	z-index: 10;
	position: fixed;
	top: 379px;
	width: 70vw;
	height: inherit;
	background: rgb(98,50,50);
	transform: translateX(-100vw);
	transition-duration: 0.5s;
	box-sizing: border-box;
}

.secondary-nav__list {
	margin-top: 40px;
	margin-bottom: 20px;
}

.secondary-nav__item {
	padding-left: 30px;
}

.secondary-nav__link {
	font-size: 0.8rem;
	line-height: 30px;
	display: block;
	width: 100%;
}

.header__logo {
	display: inline-block;
	line-height: 50px;
	margin-left: 10px;
}

.menu-opened {
	transform: none;
}

.header__burger-menu {
	width: 30px;
	height: 3px;
	position: absolute;
	background: #fff;
	right: 10px;
	top: 73px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 30px;
		height: 3px;
		background: #fff;
		right: 0;
		top: -10px;
	}

	&:after {
		top: 10px;
	}
}

.header__burger-menu--open {
	width: 0;

	&:before {
		transform: rotate(-45deg);
		top: 0;
		transition-duration: 0.3s;
	}

	&:after {
		transform: rotate(45deg);
		top: 0;
		transition-duration: 0.3s;
	}
}

.header__burger-triger {
	display: block;
	position: absolute;
	top: -23px;
	right: -10px;
	width: 80px;
	height: 50px;
	z-index: 3;
}

@media (min-width: 768px) {

	.header {
		position: relative;
		height: 125px;
	}

	.header__wrapper {
		max-width: 1100px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.header__logo {
		line-height: 75px;
	}

	.header__burger-menu,
	.header__burger-triger {
		display: none;
	}

	.user-block {
		width: 50%;
	}

	.user-block__item {

		&:hover {
			background: #ff7373;
		}

		&--cart {
			&:hover {
				background: transparent;
			}
		}
	}


	.main-nav {
		position: relative;
		width: 65%;
		transform: none;
	}

	.main-nav__list {
		display: flex;
		justify-content: space-between;
	}

	.main-nav__item {
		padding: 0 10px;
		position: relative;
		box-sizing: border-box;


		&--active {

			border-bottom: 4px solid #ff7373;
		}
	}

	.main-nav__link {
		font-size: 1rem;
		line-height: 71px;

		&:hover {
			color: #ff7373;
		}
	}

	.secondary-nav {
		position: relative;
		top: 0;
		width: 50%;
		height: 50px;
		transform: none;
		order: -1;
		background: none;
		padding-left: 10px;
	}

	.secondary-nav__list {
		width: 60%;
		display: flex;
		justify-content: space-between;
		margin-top: 0;
	}

	.secondary-nav__item {
		padding-left: 0;
	}

	.secondary-nav__link {
		font-size: 0.8rem;
		line-height: 50px;

		&:hover {
			color: #ff7373;
		}
	}
}

@media (min-width: 1120px) {
	
	.header__logo {
		margin: 0;
	}

	.main-nav {
		padding: 0;
	}

	.secondary-nav {
		padding: 0;
	}
}



.banner {
	width: 100%;
	position: relative;
	z-index: 1;
	background: #f0efee;
	margin-top: 100px;
}

.banner__wrapper {
	min-width: 320px;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
}

.banner__img-block {
	width: 80%;
}

.banner__img {
	width: 100%;
	height: auto;
}

.banner__info-block {
	padding: 20px 10px;
}

.banner__price {
	display: block;
	font-size: 2rem;
	color: #623232;
	font-weight: normal;
}

.banner__title {
	font-size: 3rem;
	color: #623232;
	margin: 10px  0;
	font-weight: bold;
}

.banner__subtitle {
	font-size: 2rem;
	color: #ff7373;
	font-weight: 700;
	margin: 10px 0;
}

.banner__text {
	color: #9a9795;
}

.banner__link {
	display: block;
	width: 255px;
	text-align: center;
	line-height: 55px;
	background: #ff7373;
	margin: 20px 0;

	&:hover {
		filter: opacity(0.7);
	}

}

@media (min-width: 768px) {
	.banner {
		margin-top: 0;
	}
	
	.banner__wrapper {
		max-width: 1100px;
		display: flex;
		align-items: center;

	}

	.banner__img-block {
		width: 60%;
	}

	.banner__info-block {
		width: 40%;
		padding: 0 10px;
	}
}

.collection {
	width: 100%;
	position: relative;
	z-index: 1;
}

.collection__wrapper {
	min-width: 320px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 30px;
	display: grid;
	grid-template-areas: 
		"nk nk nk nk"
		"ar ar ar ar"
		"at at pr pr"; 
	grid-gap: 10px;
}

.collection__item {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	box-sizing: border-box;

	&--nike {
		height: 350px;
		background: url('../img/kyle.jpg') no-repeat 50% 20%;
		background-size: cover;
		background-color: #000;
		justify-content: space-between;
		grid-area: nk;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 30px;
			height: 45px;
			top: 30px;
			left: 30px;
			background: url('../img/nike-logo.png') no-repeat 50% 50%;
		}

	}

	&--arrivals {
		height: 255px;
		background: url('../img/arrival.png') no-repeat 0 0;
		background-color: #ff7373;
		justify-content: center;
		grid-area: ar;
	}

	&--athletes {
		height: 255px;
		background: url('../img/athletes.jpg') no-repeat 50% 10%;
		background-size: cover;
		background-color: #2d2f2e;
		justify-content: flex-end;
		grid-area: at;
	}

	&--premium {
		height: 255px;
		background: url('../img/premium.png') no-repeat 50% 100%;
		background-color: #cecece;
		grid-area: pr;
	}
}

.collection__title {
	text-align: center;
	font-weight: 400;
	margin: 0;

	&--nike {

		& b {
			font-weight: 600;
			color: #4bd8cd;
		}
	}

	&--arrivals {
		
		& b {
			font-weight: 600;
		}
	}

	&--athletes {

		& b {
			font-weight: 600;
			color: #ff7373;
		}
	}

	&--premium {

		color: #6b7072;

		& b {
			font-weight: 600;
			color: #fff;
		}
	}

}

.collection__link {
	display: block;
	margin: 0 auto;
	text-align: center;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	transition-duration: 0.4s;

	&:hover {
		filter: opacity(0.7);
	}

	&--nike {
		width: 210px;
		line-height: 48px;
		color: #000;
		background-color: #4bd8cd;
	}

	&--arrivals {
		width: 150px;
		line-height: 48px;
		background-color: #623232;
		margin-top: 20px;
	}
}

@media (min-width: 768px) {

	.collection__wrapper {
		padding-top: 40px;
		grid-template-areas: 
			"nk nk ar ar"
			"nk nk at pr";
		grid-gap: 20px;
	}

	.collection__item {
		
		&--nike {
			height: 530px;
			padding: 50px 0;
			padding-top: 40px;

			&:before {
				top: 50px;
				left: 30px;
			}
		}

	}

	.collection__title {
		font-size: 1.5rem;
	}
}

@media (min-width: 1120px) {

	.collection__wrapper {
		padding: 0;
		padding-top: 50px;
		grid-gap: 30px;
	}

	.collection__item {

		&--nike {
			height: 540px;

			&:before {
				top: 50px;
				left: 50px;
			}
		}
	}

	.collection__title {
		font-size: 1.9rem;
	}
}



.catalog {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 70px;
}

.catalog__wrapper {
	max-width: 1100px;
	box-sizing: border-box;
	margin: 0 auto;
}

.catalog__sorting {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.catalog__sorting-button {
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 400;
	color: #bdb9b5;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&--active {

		font-weight: 700;
		color: #623232;
	}
}



.catalog__items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.catalog__item {
	width: 150px;
	min-height: 250px;
	padding: 10px 10px;
	margin: 5px 5px;
	border: 1px solid #e0dfde;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&--sale,
	&--sale-50 {

		&:before {
 
			content: '-25%';
			position: absolute;
			right: 0;
			top: 10px;
			text-align: center;
			background: #ff7373;
			width: 63px;
			height: 28px;
			line-height: 28px;

		}
	}

	&--sale-50 {

		&:before {
			content: '-50%';
		}
	}


}

.catalog__sale-price {
	display: block;
	color: #ff7373;
	font-weight: 400;
	font-size: 1rem;
}

.catalog__price {
	display: block;
	color: #b1afad;
	font-weight: 400;
	font-size: 1rem;

	&--sale {
		font-size: 0.8rem;
		text-decoration: line-through;
	}
}

.catalog__img {
	width: 100%;
	height: auto;
	margin-top: -20px;
	position: relative;
	z-index: -1;
}

.catalog__spec {

	& b {
		color: #b1afad;
		font-size: 0.8rem;
		display: block;
		font-weight: 600;
	}
}

.catalog__item-title {
	font-weight: normal;
	font-size: 0.8rem;
	color: #b1afad;
	margin: 5px 0;
}

.catalog__vendor-code {
	font-weight: normal;
	font-size: 0.7rem;
	color: #bdb9b5;
}

.catalog__brands {
	// display: inline-block;
	white-space: nowrap;
	text-align: center;
	overflow: auto;
	margin: 30px auto;
}

.catalog__brands-item {
	display: inline-block;
	margin: 20px;

	& img {
		width: 100%;
		height: auto;
	}
}

@media (min-width: 768px) {

	.catalog__sorting {
		margin-bottom: 40px;
	}

	.catalog__sorting-button {
		font-size: 1.9rem;
	}

	.catalog__item {
		width: 235px;
		min-height: 320px;
		padding: 15px 20px;
		margin: 10px 10px;

		&--sale,
		&--sale-50 {
			&:before {
				top: 15px;
			}
		}

	}
	
	.catalog__price {
		font-size: 1.5rem;

		&--sale {
			font-size: 1rem;
		}
	}

	.catalog__sale-price {
		font-size: 1.5rem;
	}

	.catalog__spec {

		& b {
			font-size: 1rem;
		}
	}

	.catalog__item-title {
		font-weight: 400;
		font-size: 1rem;
		margin: 10px 0;
	}

	.catalog__vendor-code {
		font-weight: 400;
		font-size: 0.8rem;
	}
		
}

@media (min-width: 1100px) {

	.catalog__sorting {
		margin-bottom: 50px;
	}
	
	.catalog__items {
		justify-content: space-between;
	}

	.catalog__item {
		width: 255px;
		min-height: 350px;
		padding: 25px 30px;
		margin: 20px 0;

		&--sale,
		&--sale-50 {
			&:before {
				top: 25px;
			}
		}

	}

	.catalog__spec {

		& b {
			font-size: 1.2rem;
		}
	}

	.catalog__item-title {
		font-weight: 400;
		font-size: 1.2rem;
		margin: 10px 0;
	}

	.catalog__vendor-code {
		font-weight: 400;
		font-size: 1rem;
	}
		
}


.comments {
	width: 100%;
	background: url('../img/feedback-bg.jpg') no-repeat 50% 0;
	background-color: #442523;
	box-sizing: border-box;
}

.comments__wrapper {
	max-width: 1100px;
	margin: 0 auto;
	padding: 50px 10px;
	box-sizing: border-box;
}

.comments__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.comments__raiting {

	& span{
		color: #ff7373;
	}
}

.comments__avatar {
	border-radius: 50%;
	margin: 20px 0;
}

.comments__author-name {
	font-style: normal;
}

.comments__text {
	margin-top: 40px;
	display: block;
	text-align: center;
	padding: 20px;
	background: rgba(104, 104, 104, 0.3);
	position: relative;
	box-sizing: border-box;
}

@media (min-width: 1120px) {

	.comments__wrapper {
		padding: 50px 0;
		padding-bottom: 100px;
	}

	.comments__text {
		
		padding: 50px 25px;

		&:before {
			content: '';
			position: absolute;
			top: -40px;
			left: 48%;
			right: 40%;
			border: 20px solid transparent;
			border-bottom: 20px solid rgba(104, 104, 104, 0.3);
			width: 0;
			height: 0;
		}
	}
}




.news {
	margin-top: 50px;
	width: 100%;
}

.news__wrapper {
	min-width: 320px;
	max-width: 1100px;
	margin: 0 auto;
}

.news__title {
	color: #623232;
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 30px;
}

.news__items {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: inherit;
}

.news__item {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-sizing: border-box;

	max-width: 350px;
	height: 300px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin: 20px 10px;
	background-color: #623232;

	&--one {
		background: url('../img/news-item-bg.jpg') no-repeat 50% 0;
	}

	&--second {
		background: url('../img/news-item-bg-2.jpg') no-repeat 50% 0;
	}

	&--third {
		background: url('../img/news-item-bg-3.jpg') no-repeat 50% 0;
	} 
}

.news__date {
	font-weight: 600;
}

.news__text {
	line-height: 1.6rem;
	margin: 5px 0;
}

.news__comment {
	color: #ff7373;
}


@media (min-width: 768px) {

	.news {
		margin-top: 100px;
	}

	.news__title {
		margin-bottom: 50px;
	}

	.news__items {
	 	flex-direction: row;
	 	justify-content: space-between;
	}

	.news__item {
		margin: 0 10px;
	}
}

@media (min-width: 1100px) {

	.news__item {
		height: 350px;
		margin: 0;
	}
}




.feedback {
	margin-top: 50px;
	background-color: #ff7373;
	height: 200px;
}

.feedback__wrapper {
	min-width: 320px;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: inherit;
}

.feedback__block {
	display: flex;
	align-items: center;
}

.feedback__icon {
	margin: 0 10px;
}

.feedback__title {
	margin: 0;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 3rem;
}

.feedback__text {
	margin-bottom: 10px;
}

.feedback__link {
	display: block;
	width: 210px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background-color: #623232;
	margin-right: 10px;

	&:hover {
		filter: opacity(0.7);
	}

}

@media (min-width: 768px) {

	.feedback {
		margin-top: 100px;
	}

	.feedback__wrapper {
		flex-direction: row;
		justify-content: space-between;
	}

	.feedback__title {
		font-size: 1.9rem;
	}
}

@media (min-width: 1120px) {

	.feedback__wrapper {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.feedback__icon {
		margin-left: 0px;
	}

	.feedback__link {
		margin-right: 0px;
	}

}

.advantages {
	width: 100%;
	background-color: #623232;
}

.advantages__wrapper {
	min-width: 320px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 50px 0;
	border-bottom: 1px solid #795151;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.advantages__item {
	width: 45%;

	& h4 {
		text-align: center;
		font-weight: 600;
	}
}

.advantages__img {
	width: 40px;
	height: 40px;
	margin: 0 auto;
}


@media (min-width: 768px) {
	.advantages__item {
		width: 30%;
	}

}

@media (min-width: 1100px) {

	.advantages__wrapper {
		justify-content: space-between;
	}

	.advantages__item {
		width: 160px;
	}

}



.footer {
	width: 100%;
	background-color: #623232;
	padding-top: 50px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.footer__wrapper-top {
	min-width: 320px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}

.contacts__block a {
	&:hover {
		color: #ff7373;
	}
}

.contacts__item {
	display: flex;
	margin-bottom: 20px;
}

.contacts__icon {
	width: 55px;
	height: 55px;
	background-color: #ff7373;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.contacts__title {
	margin: 5px 0;
	color: #ff7373;
	font-size: 1rem;
	font-weight: 600;
}

.footer__nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.footer__nav-list {
	width: 48%;
	margin-bottom: 20px;
}


.footer__nav-subtitle {
	font-weight: 600;
	color: #ff7373;
}

.footer__nav-link {
	line-height: 36px;

	&:hover {
		color: #ff7373;
	}
}

.footer__wrapper-bottom {
	min-width: 320px;
	max-width: 1100px;
	margin: 0 auto;
	border-top: 1px solid #795151;
}

.footer__logo {
	display: block;
	text-align: center;
	margin: 20px 0;
}

.footer__copyright {
	text-align: center;
}

.footer__social {
	width: 50%;
	margin: 0 auto;
}

.footer__social-list {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

.footer__social-item {
	font-size: 1.5rem;

	& i:hover {
		color: #ff7373;
	}
}

@media (min-width: 768px) {

	.footer {
		padding-bottom: 0;
	}

	.contacts {
		display: flex;
		justify-content: space-between;
	}

	.footer__wrapper-top {

	}

	.footer__nav-list {
		width: 24%;
		margin-bottom: 50px;
	}

	.footer__wrapper-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;
	}

	.footer__social {
		width: 30%;
		margin: 0;
	}

	.footer__social-list {
		margin-top: 0;
	}

	.footer__logo {
		text-align: left;
		margin-left: 10px;
		width: 30%;
	}
}

@media (min-width: 1120px) {

	.footer {
		padding-bottom: 0;
	}

	.contacts {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.footer__wrapper-top {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.footer__nav {
		width: 67%;
	}

	.footer__nav-list {
		width: 24%;
		margin-bottom: 50px;
	}

	.footer__nav-subtitle {
		margin-top: 0;
	}

	.footer__wrapper-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;
	}

	.footer__social {
		width: 190px;
		margin: 0;
	}

	.footer__social-list {
		margin-top: 0;
	}

	.footer__logo {
		text-align: left;
		margin-left: 10px;
		margin-top: 15px;
		width: 30%;
	}
}

